/*
Source - https://stackoverflow.com/a
Posted by ADAMJR, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-15, License - CC BY-SA 4.0
*/

.input_container {
  border: 1px solid #e5e5e5;
}

input[type=file]::file-selector-button {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin-right: 20px;
  transition: .5s;
}

input[type=file]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
}